body, .background-dashboard{
    background-color: #8394A1;
}

#block-button{
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}

#home-icon{
    position: absolute;
    color: #343a46;
    margin-left: 350px;
}

/* td{
    color: whitesmoke;
}

#text-color{
    color: whitesmoke;
} */

nav #logout{
    font-size: 18px;
}

nav #adm{
    margin-left: 550px;
}

.create-new-user-body{
    background-color: #8394A1;
}

#create-user-background{
    background-color: #343a46;
}

#teste{
    margin-left: 160px;
}

#add-post{
    position: absolute;
    text-align: center;
    margin-top: 7px;
    margin-left: 1270px;
}

#add-post-text{
    text-align: center;
}

.cards-wrapper{
    margin-top: 20px;
}

.date{
    position: absolute;
}

#delete-post{
    position: absolute;
    margin-left: 1380px;
}

.no-post{
    text-align: center;
    margin-top: 210px;
}