<body class="create-new-user-body">

    <div class="col-6">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Digite um nome para o usuário" name="username" value="<%- searchUserByID.username %>" disabled>
        <label for="floatingInput">Nome de usuário</label>
      </div>
    </div>
    <div class="col-6">
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="Digite um email" name="email" value="<%- searchUserByID.email %>" disabled>
        <label for="floatingInput">Email</label>
      </div>
    </div>
    <div class="col-12">
      <div class="form-floating mb-3">
        <textarea class="form-control" placeholder="Motivo da criação da conta (obrigatório)" id="comments" name="comment" style="height: 200px" required></textarea>
        <label for="comments">Motivo da deletação da conta (obrigatório)</label>
      </div>
    </div>
    <div class="col-12 d-grid">
      <button class="btn btn-primary" type="submit">Deletar usuário</button>
    </div>
  
  </body>