<body class="create-new-user-body">

    <div class="col-6">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Digite um nome para o usuário" name="username">
        <label for="floatingInput">Novo nome de usuário</label>
      </div>
    </div>
    <div class="col-6">
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="Digite um email" name="email">
        <label for="floatingInput">Novo email</label>
      </div>
    </div>
    <div class="col-6">
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingInput" placeholder="Digite uma nova senha" name="password" >
        <label for="floatingInput">Nova senha</label>
      </div>
    </div>
    <div class="col-6">
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingInput" placeholder="Confirme a senha" name="confirm_password" >
        <label for="floatingInput">Confirme a senha</label>
      </div>
    </div>
    <div class="col-12">
      <div class="form-floating mb-3">
        <textarea class="form-control" placeholder="Motivo da criação da conta (obrigatório)" id="comments" name="comment" style="height: 200px" required></textarea>
        <label for="comments">Motivo da edição da conta (obrigatório)</label>
      </div>
    </div>
    <div class="col-12 d-grid">
      <button class="btn btn-primary" type="submit">Editar usuário</button>
    </div>
  
  </body>