<nav aria-label="breadcrumb">
    <ol class="breadcrumb" id="create-user-background">
      <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
      <li class="breadcrumb-item active" aria-current="page">Minhas postagens</li>
    </ol>
</nav>

<div id="add-post">
    <div class="col-6 d-flex justify-content-end">
        <a href="/createpost" target="_blank" type="button" class="btn btn-primary align-self-end" id="add-post-text">+ Adicionar novo post</a>
    </div>
</div>

<% if(searchAuthorPost.length === 0) { %>
    <h5 class="no-post">Você não tem nenhuma postagem publicada.<br>Crie sua primeira postagem no botão ao lado.</h4>
        <% } %>

<section class="cards-wrapper">
    <% searchAuthorPost.forEach((searchAuthorPost) => { %>
    <div class="card-grid-space">
        <a class="card" href="/myposts/viewpost/<%- searchAuthorPost.id %>"
            style="--bg-img: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/html-syntax/cover.jpg)">
            <div>
                <h1><%- searchAuthorPost.title %></h1>
                <h6>Autor: <%- searchAuthorPost.author %></h6>
                <p>Clique no cartão para abrir a postagem completa.<br>
                <div class="date"><%- searchAuthorPost.date %></div>
                <div class="tags">
                    <div class="tag">Leia mais...</div>
                </div>
            </div>
        </a>
    </div>
    <% });%>
</section>