<section class="cards-wrapper">
    <% searchAllPosts.forEach((searchAllPosts) => { %>
    <div class="card-grid-space">
        <a class="card" href="dashboard/viewpost/<%- searchAllPosts.id %>"
            style="--bg-img: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/html-syntax/cover.jpg)">
            <div>
                <h1><%- searchAllPosts.title %></h1>
                <h6>Autor: <%- searchAllPosts.author %></h6>
                <p>Clique no cartão para abrir a postagem completa.</p>
                <div class="date"><%- searchAllPosts.published_in %></div>
                <div class="tags">
                    <div class="tag">Leia mais...</div>
                </div>
            </div>
        </a>
    </div>
    <% }); %>
</section>