<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.22.2/sweetalert2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="sweetalert2.min.css">
</head>

<body>
    <div class="view-user p-5">
        <div id="delete-post">
            <div class="col-6 d-flex justify-content-end">
                <!--TENTAR EXCLUIR AQUI DIRETO NO HTML !!  -->
                <a type="button" class="btn btn-danger align-self-end" id="delete-post-text">Deletar post</a>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col text-center">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Autor</th>
                            <th scope="col">Título</th>
                            <th scope="col">Publicado em</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <%- searchPost.author %>
                            </td>
                            <td>
                                <%- searchPost.title %>
                            </td>
                            <td>
                                <%- searchPost.published_in %>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col">
                    <b>Texto</b>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <%- searchPost.text %>
                        <br>
                </div>
            </div>
        </div>
    </div>
    <script src="../build-scripts/include-view-post.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.22.2/sweetalert2.min.js"></script>
</body>